body{
    background: rgb(216, 140, 216);
    background-image: linear-gradient(to right, rgba(136, 99, 196, 0), rgb(76, 139, 211));
}

#header img{
    width: 25px;
    height: 15px;
}

.Logo{
    text-decoration: none;
    color: black;
}
.nav-link a:hover{
    color: white;
}
.nav-item a{
  color: black;
}
.nav-link a:hover{
    color: white;
}
.container-fluid{
    margin-bottom: 30px;
}


/* Hero section */


.container-fluid img{
    width: 1700px;
    height: 800px;
    border-radius: 40px
   
}
